@page "/BugTest"

@using AprajitaRetails.Shared.Models.Vouchers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AprajitaRetails.AdminLte.Forms
@using Radzen.Blazor
@using AprajitaRetails.Shared.ViewModels
@using AprajitaRetails.Commons
@using AprajitaRetails.Shared.Models.Payroll
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using AprajitaRetails.Helpers
@using System.Text.Json


@attribute [Authorize]
@inject ClientSetting Setting
@inject DataHelper Helper

<h3>BugTest</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        //try
        //{

        //    string data = "[{'vouchernumber':'ARD-CPT-2023-1-11-30','vouchertype':8,'ondate':'2023-01-11T00:00:00.000','transactionid':'TM-13','slipnumber':'NA','partyname':'Breakfast','particulars':'Breakfast','amount':140,'remarks':'Breakfast','employeeid':'ARD-2016-SM-1','partyid':'ARD-PTY-63','userid':'AmitKumar','isreadonly':true,'markeddeleted':true,'storeid':'ARD','entrystatus':0},{'vouchernumber':'ARD-CPT-2023-1-13-34','vouchertype':8,'ondate':'2023-01-13T00:00:00.000','transactionid':'TM-1','slipnumber':'NA','partyname':'HomeExpenses','particulars':'HomeExpenses','amount':325,'remarks':'Fruits','employeeid':'ARD-2016-SM-1','partyid':'ARD-PTY-43','userid':'AmitKumar','isreadonly':true,'markeddeleted':true,'storeid':'ARD','entrystatus':0}]";

        //    var x2 = JsonSerializer.Deserialize<List<CashVoucher>>(data);
        //    foreach (var x in x2)
        //    {
        //        var y = await Helper.SaveAsync<CashVoucher>("CashVouchers", x, "CashVoucher");//null,false);
        //    }

        //}
        //catch (Exception ex)
        //{
        //    Helper.Msg("Err", ex.Message, true);
        //}
    }

}