@page "/import/purchaseimport"
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

@inject DataHelper Helper
@inject ClientSetting Setting
@inject NavigationManager NavigationManager

<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="Puchase Import" />
    </Header>
</ContentHeader>
<ContentMain>
    <div class="row">
        <div class="col-md-12">
            <SfTab CssClass=@("default-tab e-fill e-background")>
                <TabAnimationSettings>
                    <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
                    <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
                </TabAnimationSettings>
                <TabItems>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Product Invoice"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>

                            <SfGrid DataSource="@Orders" AllowFiltering=true AllowSelection=true AllowSorting=true AllowTextWrap=true AllowGrouping="true"
                                    AllowExcelExport="true" AllowPdfExport="true" AllowResizing="true" AllowPaging="true" ShowColumnChooser="true">
                                <GridTemplates>
                                    <EmptyRecordTemplate>
                                        <span> No Record found! Kindly add records </span>
                                    </EmptyRecordTemplate>
                                </GridTemplates>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                <GridPageSettings PageCount="5"></GridPageSettings>
                            </SfGrid>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Purchase Item"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <SfGrid DataSource="@Orders" AllowFiltering=true AllowSelection=true AllowSorting=true AllowTextWrap=true AllowGrouping="true"
                                    AllowExcelExport="true" AllowPdfExport="true" AllowResizing="true" AllowPaging="true" ShowColumnChooser="true">
                                <GridTemplates>
                                    <EmptyRecordTemplate>
                                        <span> No Record found! Kindly add records </span>
                                    </EmptyRecordTemplate>
                                </GridTemplates>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                <GridPageSettings PageCount="5"></GridPageSettings>
                            </SfGrid>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Stock"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <SfGrid DataSource="@Orders" AllowFiltering=true AllowSelection=true AllowSorting=true AllowTextWrap=true AllowGrouping="true"
                                    AllowExcelExport="true" AllowPdfExport="true" AllowResizing="true" AllowPaging="true" ShowColumnChooser="true">
                                <GridTemplates>
                                    <EmptyRecordTemplate>
                                        <span> No Record found! Kindly add records </span>
                                    </EmptyRecordTemplate>
                                </GridTemplates>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                <GridPageSettings PageCount="5"></GridPageSettings>
                            </SfGrid>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Products"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <SfGrid DataSource="@Orders" AllowFiltering=true AllowSelection=true AllowSorting=true AllowTextWrap=true AllowGrouping="true"
                                    AllowExcelExport="true" AllowPdfExport="true" AllowResizing="true" AllowPaging="true" ShowColumnChooser="true">
                                <GridTemplates>
                                    <EmptyRecordTemplate>
                                        <span> No Record found! Kindly add records </span>
                                    </EmptyRecordTemplate>
                                </GridTemplates>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                <GridPageSettings PageCount="5"></GridPageSettings>
                            </SfGrid>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </div>
    </div>
</ContentMain>

@code {

    async Task FetchDataAsync()
    {
        entities = await Helper.FetchAsync<StockDTO>($"api/Stocks/bystoredto", $"?storeid={Setting.StoreCode}");
        StateHasChanged();

    }
}
<style>
    .default-tab {
        border: 1px solid #d7d7d7;
    }

        .default-tab .e-content .e-item {
            padding: 10px;
            text-align: justify;
        }

    .default-tab-control-section {
        margin: 20px 20% 20px 20%;
    }

    @@media screen and (max-width: 480px) {
        .default-tab-control-section {
            margin: 20px 0 20px 0;
        }
    }

    .bootstrap5 .default-tab,
    .bootstrap5-dark .default-tab,
    .bootstrap .default-tab,
    .bootstrap-dark .default-tab,
    .bootstrap4 .default-tab {
        border: none;
    }

        .fluent .default-tab .e-content > .e-item.e-active,
        .bootstrap5 .default-tab .e-content > .e-item.e-active,
        .tailwind .default-tab .e-content > .e-item.e-active,
        .material .default-tab .e-content > .e-item.e-active,
        .bootstrap4 .default-tab .e-content > .e-item.e-active,
        .bootstrap .default-tab .e-content > .e-item.e-active,
        .fabric .default-tab .e-content > .e-item.e-active {
            background: #FAF9F8;
        }

        .fluent-dark .default-tab .e-content > .e-item.e-active,
        .bootstrap5-dark .default-tab .e-content > .e-item.e-active,
        .tailwind-dark .default-tab .e-content > .e-item.e-active,
        .material-dark .default-tab .e-content > .e-item.e-active,
        .bootstrap-dark .default-tab .e-content > .e-item.e-active,
        .fabric-dark .default-tab .e-content > .e-item.e-active,
        .highcontrast .default-tab .e-content > .e-item.e-active {
            background: #201F1E;
        }
</style>