@namespace AprajitaRetails.Aks
@using Syncfusion.Blazor.Grids

<GridAggregateColumn  Field="@Field" Type="AggregateType.Sum" Format="@Format">
    <FooterTemplate>
        @{
            var SumValue = (context as AggregateTemplateContext);
            <div class="text-danger">
                @Title: @SumValue.Sum
            </div>
        }
    </FooterTemplate>

</GridAggregateColumn>

@code {

    [Parameter] public string Field { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Format { get; set; } = "C2";
}

