@namespace AprajitaRetails.Aks.Forms

    <div class="mb-3 row">
        <div class="col-sm-6">
            <div class="form-floating">
                <input type="text" class="form-control form-control-sm" id="@Name" @oninput="OnValueChanged" placeholder="@Placeholder" value="@Value">
                <label class="small" for="floatingInput">@Label</label>
            </div>
        </div>
    </div>

    @code {
        [Parameter]
        public string Label { get; set; } = " ";
        [Parameter]
        public string Name { get; set; } = "TextBox_01";
        [Parameter]
        public string Placeholder { get; set; }
        [Parameter]
        public string Value { get; set; }
        [Parameter] public string Icon { get; set; }

        [Parameter]
        public EventCallback<string> ValueChanged { get; set; }
        private async Task OnValueChanged(ChangeEventArgs e)
        {
            Value = e?.Value?.ToString();
            await ValueChanged.InvokeAsync(Value);
        }

        private Color _iconBgColor;

        private Color? _originalIconBgColor;

        private string iconBgColor => $"bg-{@IconBgColor.GetDescription<StyleAttribute>()}";

        public Color IconBgColor
        {
            get { return _iconBgColor; }
            set
            {
                _iconBgColor = value;
                if (_originalIconBgColor == null) _originalIconBgColor = value;
            }
        }
    }

