@namespace AprajitaRetails.Aks.Forms
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs

<div class="mb-3 row">
    <SfTextBox Placeholder=@Label FloatLabelType='@FloatLabelType.Auto' @bind-Value="@Value"></SfTextBox>
</div>

@code {
    [Parameter]
    public string Label { get; set; } = " ";
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Placeholder { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter] public string Icon { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e?.Value?.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
    // private Color _borderColor;
    private Color _iconBgColor;
    //private Color? _originalBorderColor;
    private Color? _originalIconBgColor;

    private string iconBgColor => $"bg-{@IconBgColor.GetDescription<StyleAttribute>()}";
    //private string borderColor => $"border-{@BorderColor.GetDescription<StyleAttribute>()}";
    public Color IconBgColor
    {
        get { return _iconBgColor; }
        set
        {
            _iconBgColor = value;
            if (_originalIconBgColor == null) _originalIconBgColor = value;
        }
    }
}

