@page
@model AprajitaRetails.UI.Pages.Apps.Accounts.PettyCashSheets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PettyCashSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PettyCashSheet.Id" />
            <div class="form-group">
                <label asp-for="PettyCashSheet.OnDate" class="control-label"></label>
                <input asp-for="PettyCashSheet.OnDate" class="form-control" />
                <span asp-validation-for="PettyCashSheet.OnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.OpeningBalance" class="control-label"></label>
                <input asp-for="PettyCashSheet.OpeningBalance" class="form-control" />
                <span asp-validation-for="PettyCashSheet.OpeningBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.ClosingBalance" class="control-label"></label>
                <input asp-for="PettyCashSheet.ClosingBalance" class="form-control" />
                <span asp-validation-for="PettyCashSheet.ClosingBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.BankDeposit" class="control-label"></label>
                <input asp-for="PettyCashSheet.BankDeposit" class="form-control" />
                <span asp-validation-for="PettyCashSheet.BankDeposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.BankWithdrawal" class="control-label"></label>
                <input asp-for="PettyCashSheet.BankWithdrawal" class="form-control" />
                <span asp-validation-for="PettyCashSheet.BankWithdrawal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.DailySale" class="control-label"></label>
                <input asp-for="PettyCashSheet.DailySale" class="form-control" />
                <span asp-validation-for="PettyCashSheet.DailySale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.TailoringSale" class="control-label"></label>
                <input asp-for="PettyCashSheet.TailoringSale" class="form-control" />
                <span asp-validation-for="PettyCashSheet.TailoringSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.TailoringPayment" class="control-label"></label>
                <input asp-for="PettyCashSheet.TailoringPayment" class="form-control" />
                <span asp-validation-for="PettyCashSheet.TailoringPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.ManualSale" class="control-label"></label>
                <input asp-for="PettyCashSheet.ManualSale" class="form-control" />
                <span asp-validation-for="PettyCashSheet.ManualSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.CardSale" class="control-label"></label>
                <input asp-for="PettyCashSheet.CardSale" class="form-control" />
                <span asp-validation-for="PettyCashSheet.CardSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.NonCashSale" class="control-label"></label>
                <input asp-for="PettyCashSheet.NonCashSale" class="form-control" />
                <span asp-validation-for="PettyCashSheet.NonCashSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.CustomerDue" class="control-label"></label>
                <input asp-for="PettyCashSheet.CustomerDue" class="form-control" />
                <span asp-validation-for="PettyCashSheet.CustomerDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.DueList" class="control-label"></label>
                <input asp-for="PettyCashSheet.DueList" class="form-control" />
                <span asp-validation-for="PettyCashSheet.DueList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.CustomerRecovery" class="control-label"></label>
                <input asp-for="PettyCashSheet.CustomerRecovery" class="form-control" />
                <span asp-validation-for="PettyCashSheet.CustomerRecovery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.RecoveryList" class="control-label"></label>
                <input asp-for="PettyCashSheet.RecoveryList" class="form-control" />
                <span asp-validation-for="PettyCashSheet.RecoveryList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.ReceiptsNaration" class="control-label"></label>
                <input asp-for="PettyCashSheet.ReceiptsNaration" class="form-control" />
                <span asp-validation-for="PettyCashSheet.ReceiptsNaration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.ReceiptsTotal" class="control-label"></label>
                <input asp-for="PettyCashSheet.ReceiptsTotal" class="form-control" />
                <span asp-validation-for="PettyCashSheet.ReceiptsTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.PaymentNaration" class="control-label"></label>
                <input asp-for="PettyCashSheet.PaymentNaration" class="form-control" />
                <span asp-validation-for="PettyCashSheet.PaymentNaration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PettyCashSheet.PaymentTotal" class="control-label"></label>
                <input asp-for="PettyCashSheet.PaymentTotal" class="form-control" />
                <span asp-validation-for="PettyCashSheet.PaymentTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
