@page "/home"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authorization
@using AprajitaRetails.Shared.Models.Auth
@using AprajitaRetails.Shared.Models.Vouchers;
@*@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication*@
@using AprajitaRetails.Shared
@*@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
    @inject ProtectedLocalStorage BrowserStorage*@
@*//@attribute [Authorize]*@
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject NotificationService NotificationService
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JSRuntime

@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h2>Aprajita Retails </h2>
        <p class="h3">Welcome to our new SRP app.</p>
        <p class="h4">Current UserName: @context.User.Identity?.Name</p>

        @if (!string.IsNullOrEmpty(currentUserName))
        {
            <p>Current User FullName: @currentUserName</p>
        }
    </Authorized>

</AuthorizeView>
@code {

    string currentUserName = "";
    
    protected override async Task OnInitializedAsync()
    {
        currentUserName = await JSRuntime.InvokeAsync<string>("localStorage.getItem", new[] { "UserFullName" });
    }
}

