@page "/home"
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JSRuntime

@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h2>Aprajita Retails </h2>

        <p class="h3">NxtGen SRP app</p>
        
        @if (!string.IsNullOrEmpty(currentUserName))
        {
            <p margin="20" class="h4">Current User FullName: @currentUserName</p>
        }
    </Authorized>

</AuthorizeView>
@code {

    string currentUserName = "";
    
    protected override async Task OnInitializedAsync()
    {
        currentUserName = await JSRuntime.InvokeAsync<string>("localStorage.getItem", new[] { "UserFullName" });
    }
}

