@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Syncfusion.Blazor.Calendars
@inject IJSRuntime JS
@inject NavigationManager Navigation

<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="Home" />
    </Header>
</ContentHeader>
<ContentMain>
    <Row>
        <h2>Aprajita Retails </h2>
        <p class="h3">NExtGen SRP App</p>
    </Row>
    <Row>
        <Column Classes="col.lg">
            <p>Store Based SRP App</p>
            <p>Target to Garment based stores</p>
            <p>Tally Connected</p>
            <p>Online In-Premaisis or over cloud server</p>
            <p>Reporting based on requirements</p>
        </Column>
        <Column Classes="col.lg">
            <SfCalendar TValue="DateTime" />
        </Column>
    </Row>
</ContentMain>