@page "/"

<PageTitle>Aprajita Retails Next Gen</PageTitle>

<h2>Aprajita Retails </h2>

<p class="h3">Welcome to our new SRP app.</p>

<RadzenButton Text="@text"></RadzenButton>

<h4> To Be Added</h4>
@code {
    string text = "Hi";
}