@page "/"
@inject IJSRuntime JS
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@using Syncfusion.Blazor.Calendars
        <h2>Aprajita Retails </h2>
        <p class="h3">Welcome to our new SRP app.</p>
<SfCalendar TValue="DateTime" />
 