@namespace AprajitaRetails.AdminLte.Forms
<button type="submit" class="btn btn-sm btn-primary" id="AKS_SubmitButton" >@Title</button>

@code {
    [Parameter]
    public string Title { get; set; } = "Submit";
   
}
