<SideBar>
    <!-- Sidebar user panel (optional) -->
    <SideBarUserPanel ImageEffect="ImageEffect.Circle" Link="starter-pages/user-page" Elevation="Elevation.Three" UserImage="../dist/img/aks.jpg">Amit Kumar</SideBarUserPanel>
    @*<SideBarSearch></SideBarSearch>*@
    <SideBarMenu>
        <SideBarMenuItem Link="widgets" Icon="fas fa-th">
            Dashboard
        </SideBarMenuItem>
        <SideBarTreeView Icon="fas fa-copy">
            <Title>Vouchers</Title>
            <Items>
                <SideBarMenuItem Icon="far fa-circle" Link="vouchers">
                    Voucher
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="vouchers/cash">
                    Cash Voucher
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="vouchers/notes">
                   Notes Voucher
                </SideBarMenuItem>
            </Items>
        </SideBarTreeView>
        <SideBarTreeView Icon="fas fa-tachometer-alt">
            <Title>Payroll</Title>
            <Items>
                <SideBarMenuItem Icon="far fa-circle" Link="payroll/employees">
                    Employee
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="payroll/attendances">
                    Attendance
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="payroll/salarypayment">
                    Salary Payment
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="payroll/payslip">
                    PaySlip
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="payroll/advances">
                    Advances
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="payroll/monthlyattendaces">
                    Monthly Attendance
                </SideBarMenuItem>
            </Items>
        </SideBarTreeView>
        <SideBarTreeView Icon="fas fa-tachometer-alt">
            <Title>Accounts</Title>
            <Items>
                <SideBarMenuItem Icon="far fa-circle" Link="banking">
                    Banking
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="accounts/dailysale">
                    Daily Sale
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="accounts/dues">
                    Dues
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="TransactionMode">
                    Transaction Mode
                </SideBarMenuItem>
            </Items>
        </SideBarTreeView>
        <SideBarTreeView Icon="fas fa-tree">
            <Title>Inventory</Title>
            <Items>
                <SideBarMenuItem Icon="far fa-circle" Link="ui/general">
                    Purchase
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="ui/buttons">
                    Stock
                </SideBarMenuItem>
                <SideBarMenuItem Link="ui/navbar" Icon="far fa-circle">
                    Products
                </SideBarMenuItem>
            </Items>
        </SideBarTreeView>
        <SideBarTreeView Icon="fas fa-edit">
            <Title>Sale</Title>
            <Items>
                <SideBarMenuItem Icon="far fa-circle" Link="forms/general">
                    Regular Invoice
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="forms/advanced">
                    Manual Invoice
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="forms/file-management">
                    Invoice Printing
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="forms/file-management">
                    Sale Report
                </SideBarMenuItem>

            </Items>
        </SideBarTreeView>
        <SideBarTreeView Icon="fas fa-table">
            <Title>Stores</Title>
            <Items>
                <SideBarMenuItem Icon="far fa-circle" Link="simple-tables">
                    Store
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="simple-tables">
                    Customers
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="simple-tables">
                    Contacts
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="injections/navbar-left-override">
                    Salesmen
                </SideBarMenuItem>
            </Items>
        </SideBarTreeView>
        <SideBarTreeView Icon="far fa-user">
            <Title>User</Title>
            <Items>
                <SideBarMenuItem Icon="far fa-circle" Link="login">
                    Login
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="register">
                    Register
                </SideBarMenuItem>
                <SideBarMenuItem Icon="far fa-circle" Link="forgot-password">
                    Forgot Password
                </SideBarMenuItem>
            </Items>
        </SideBarTreeView>
        @*<SideBarTreeView Icon="far fa-plus-square">
                <Title>Extras</Title>
                <Items>
                    <SideBarMenuItem Icon="far fa-circle" Link="lockscreen">
                        Lockscreen
                    </SideBarMenuItem>
                    <SideBarMenuItem Icon="far fa-circle" Link="404">
                        Error 404
                    </SideBarMenuItem>
                    <SideBarMenuItem Icon="far fa-circle" Link="500">
                        Error 500
                    </SideBarMenuItem>
                </Items>
            </SideBarTreeView>*@
        <SideBarMenuItem Link="simple-link" Icon="fas fa-th">
            Update
            <span class="right badge badge-danger">New</span>
        </SideBarMenuItem>
    </SideBarMenu>
</SideBar>

@code {

}

