@page
@model AprajitaRetails.UI.Pages.Apps.Vouchers.Notes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Note.NoteNumber" />
            <div class="form-group">
                <label asp-for="Note.NotesType" class="control-label"></label>
                <select asp-for="Note.NotesType" class="form-control"></select>
                <span asp-validation-for="Note.NotesType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.OnDate" class="control-label"></label>
                <input asp-for="Note.OnDate" class="form-control" />
                <span asp-validation-for="Note.OnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.PartyName" class="control-label"></label>
                <input asp-for="Note.PartyName" class="form-control" />
                <span asp-validation-for="Note.PartyName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Note.WithGST" /> @Html.DisplayNameFor(model => model.Note.WithGST)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Note.Amount" class="control-label"></label>
                <input asp-for="Note.Amount" class="form-control" />
                <span asp-validation-for="Note.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.TaxRate" class="control-label"></label>
                <input asp-for="Note.TaxRate" class="form-control" />
                <span asp-validation-for="Note.TaxRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Reason" class="control-label"></label>
                <input asp-for="Note.Reason" class="form-control" />
                <span asp-validation-for="Note.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Remarks" class="control-label"></label>
                <input asp-for="Note.Remarks" class="form-control" />
                <span asp-validation-for="Note.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.PartyId" class="control-label"></label>
                <select asp-for="Note.PartyId" class="form-control" asp-items="ViewBag.PartyId"></select>
                <span asp-validation-for="Note.PartyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.StoreId" class="control-label"></label>
                <select asp-for="Note.StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
                <span asp-validation-for="Note.StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.EntryStatus" class="control-label"></label>
                <select asp-for="Note.EntryStatus" class="form-control"></select>
                <span asp-validation-for="Note.EntryStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.UserId" class="control-label"></label>
                <input asp-for="Note.UserId" class="form-control" />
                <span asp-validation-for="Note.UserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Note.IsReadOnly" /> @Html.DisplayNameFor(model => model.Note.IsReadOnly)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Note.MarkedDeleted" /> @Html.DisplayNameFor(model => model.Note.MarkedDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
