@page "/autologin"
@using AprajitaRetails.Client.Helpers;
@using AprajitaRetails.Shared.Models.Auth;
@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@*@inject IJSRuntime JSRuntime*@
@using AprajitaRetails.Helpers
@inject ClientSetting ClientSetting
@inject LocalStorageAccessor LocalStorage
@if (!isLoggedIn)
{
    <p> Loggin.....</p>
}

@code {
    bool isLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("AprajitaRetails.ServerAPI.Auth");
            var login = await client.PostAsync("auths/autoLogin", null);
            if (login.IsSuccessStatusCode)
            {
                //Redirect to page or home

                //var xName = login.Content.ReadAsStringAsync().Result;
                // await JSRuntime.InvokeVoidAsync("localStorage.setItem", "UserFullName", xName);
                var user = login.Content.ReadFromJsonAsync<LoggedUser>().Result;
                if (user != null)
                {
                    LocalStorage.SetValueAsync("UserFullName", user.FullName);
                    LocalStorage.SetValueAsync("StoreCode", user.StoreId);
                    // LocalStorage.SetValueAsync("Employee", user.EmployeeId);
                    // LocalStorage.SetValueAsync("UserName", user.Id);
                    ClientSetting.SetLogin(user.StoreId, "", user.FullName, user.Id, user.EmployeeId);

                }

                NavigationManager.NavigateTo("/home");
            }
            else
            {
                // Display error message
                Console.WriteLine("error");

            }
        }
        catch (Exception exception)
        {
            Console.WriteLine("error+\n" + exception.Message);
        }
    }
}