@page "/importdata"
@inject HttpClient Http
@using System.IO;
@using AprajitaRetails.Shared.Models.Stores
@using AprajitaRetails.Client.AdminLte
@using AprajitaRetails.Shared.Models.Vouchers;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AprajitaRetails.Shared.ViewModels


<ContentHeader>
    <Header> <Blazor.AdminLte.PageTitle Title="Db Import" /></Header>
</ContentHeader>
<ContentMain>
    @if (fileList == null)
    {
        <p><em>Loading ....</em></p>
    }
    else
    {
        <H3>List of File</H3>
        <p>Class List</p>
        <select @onselect="(option)=>LoadJsonData(option.ToString())">
            @foreach (var item in fileList)
            {
                @*<li>
                    <Button @onclick="() => LoadJsonData(item.Path)">@item.FileName </Button>
                </li>*@
                    <option value="@item.Path">@item.FileName</option>

            }
        </select>

    }
</ContentMain>


@code {

    List<FileModel>? fileList;
    string sPath = "";

    async void LoadJsonData(string path)
    {
        //string path = m.Path;
        sPath = path;
        try
        {
            var result = await Http.GetFromJsonAsync<bool>($"ImportHelper/Add?path={path}");
            if (result)
            {
                sPath = "";
                sPath = "Added";
            }else
            {
                sPath = "";
                sPath = "error occured";
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            fileList = await Http.GetFromJsonAsync<List<FileModel>>("ImportHelper");

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
