@page "/Sales/InvoicePrinting/View/{param:string}"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.PdfViewer
@using Syncfusion.Blazor.Buttons
@using System.Web

@inject NavigationManager NavigationManager

@inject HttpClient Http
@inject DataHelper Helper


<h3>Component1</h3>

@*<SfPdfViewerServer DocumentPath="@DocumentPath" Height="500px" Width="1060px"></SfPdfViewerServer>*@

@if (!string.IsNullOrEmpty(DocumentPath))
{<SfPdfViewer DocumentPath="@DocumentPath" @ref="@PdfViewer" EnableDownload="true" EnablePrint="true"
              ServiceUrl="https://localhost:7111"
              Height="500px" Width="1060px"></SfPdfViewer>}

@code {

    public string Param { get; set; } = "";
    string DocumentPath { get; set; } = "";
    SfPdfViewer PdfViewer;

    private async Task LoadAnotherDocument()
    {
        //Sends a GET request to a specified Uri and return the response body as a byte array.
        byte[] byteArray = await Http.GetByteArrayAsync($"api/productsales/invoiceprint{Param}");
        if (byteArray != null && byteArray.Count<byte>() > 0)
        {
            //Converts the byte array into base64 string.
            string base64String = Convert.ToBase64String(byteArray);
            //Sets the base64 string as document path for the PDF Viewer.
            DocumentPath = "data:application/pdf;base64," + base64String;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        string Url = "https://s3.amazonaws.com/files2.syncfusion.com/dtsupport/directtrac/general/pd/HTTP_Succinctly-1719682472.pdf";
        System.Net.WebClient webClient = new System.Net.WebClient();
        byte[] byteArray = webClient.DownloadData(Url);
        DocumentPath = "data:application/pdf;base64," + Convert.ToBase64String(byteArray);
    }

    protected override async Task OnInitializedAsync()
    {

        await LoadAnotherDocument();

        if (string.IsNullOrEmpty(Param) && string.IsNullOrEmpty(DocumentPath))
        {
            Helper.Msg("Error", "Failed to get Invoice or Invoice Not found!", true);
            NavigationManager.NavigateTo("/inventory/printInvoices");

        }
        else
        {
            PdfViewer.PrintAsync();
        }

    }
}

