@page
@model AprajitaRetails.UI.Pages.Apps.Accounts.Parties.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Party</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Party.PartyId" />
            <div class="form-group">
                <label asp-for="Party.PartyName" class="control-label"></label>
                <input asp-for="Party.PartyName" class="form-control" />
                <span asp-validation-for="Party.PartyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.OpeningDate" class="control-label"></label>
                <input asp-for="Party.OpeningDate" class="form-control" />
                <span asp-validation-for="Party.OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.ClosingDate" class="control-label"></label>
                <input asp-for="Party.ClosingDate" class="form-control" />
                <span asp-validation-for="Party.ClosingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.OpeningBalance" class="control-label"></label>
                <input asp-for="Party.OpeningBalance" class="form-control" />
                <span asp-validation-for="Party.OpeningBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.ClosingBalance" class="control-label"></label>
                <input asp-for="Party.ClosingBalance" class="form-control" />
                <span asp-validation-for="Party.ClosingBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.Category" class="control-label"></label>
                <select asp-for="Party.Category" class="form-control"></select>
                <span asp-validation-for="Party.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.GSTIN" class="control-label"></label>
                <input asp-for="Party.GSTIN" class="form-control" />
                <span asp-validation-for="Party.GSTIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.PANNo" class="control-label"></label>
                <input asp-for="Party.PANNo" class="form-control" />
                <span asp-validation-for="Party.PANNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.Address" class="control-label"></label>
                <input asp-for="Party.Address" class="form-control" />
                <span asp-validation-for="Party.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.Remarks" class="control-label"></label>
                <input asp-for="Party.Remarks" class="form-control" />
                <span asp-validation-for="Party.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.LedgerGroupId" class="control-label"></label>
                <input asp-for="Party.LedgerGroupId" class="form-control" />
                <span asp-validation-for="Party.LedgerGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.StoreId" class="control-label"></label>
                <select asp-for="Party.StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
                <span asp-validation-for="Party.StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.EntryStatus" class="control-label"></label>
                <select asp-for="Party.EntryStatus" class="form-control"></select>
                <span asp-validation-for="Party.EntryStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.UserId" class="control-label"></label>
                <input asp-for="Party.UserId" class="form-control" />
                <span asp-validation-for="Party.UserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Party.IsReadOnly" /> @Html.DisplayNameFor(model => model.Party.IsReadOnly)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Party.MarkedDeleted" /> @Html.DisplayNameFor(model => model.Party.MarkedDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
