<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @Title
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href=@Edit>Edit</a></li>
        <li><a class="dropdown-item" href=@Detail>Details</a></li>
        <li><a class="dropdown-item" href=@Delete>Delete</a></li>
        @*<li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>*@
    </ul>
</div>
@code {
    [Parameter]
    public string Title { get; set; } = "Action";

    [Parameter]
    public string Edit { get; set; } = "#";
    [Parameter]
    public string Detail { get; set; } = "#";
    [Parameter]
    public string Delete { get; set; } = "#";

}
