@namespace AprajitaRetails.AdminLte
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @Title
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href=@Edit>Edit</a></li>
        <li><a class="dropdown-item" href=@Detail>Details</a></li>
        <li><a class="dropdown-item" href=@Delete>Delete</a></li>
        @*<li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>*@
    </ul>
</div>
@code {

    [Parameter] public string Title { get; set; } = "Action";
    [EditorRequired]
    [Parameter] public string Id { get; set; } = "#";
    [EditorRequired]
    [Parameter] public string Link { get; set; } = "";

    public string Edit;
    public string Detail;
    public string Delete;
    protected override async Task OnInitializedAsync()
    {

        Edit = $"{Link}/Edit?/{Id}";
        Detail = $"{Link}/Detail/{Id}";
        Delete = $"{Link}/Delete/{Id}";

    }


}
