@page "/"
@*<PageTitle>Index</PageTitle>*@


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Aprajita Retails</h3>
        <div class="card-tools">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="badge badge-primary">New</span>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        Welcome to our new SRP APP
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
       We are coming Soon!!!
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->