@page
@model Aprajita_Retails.Pages.Apps.Vouchers.CashVouchers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CashVoucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CashVoucher.CashVoucherNo" />
            <div class="form-group">
                <label asp-for="CashVoucher.CategoryId" class="control-label"></label>
                <input asp-for="CashVoucher.CategoryId" class="form-control" />
                <span asp-validation-for="CashVoucher.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashVoucher.VoucherType" class="control-label"></label>
                <input asp-for="CashVoucher.VoucherType" class="form-control" />
                <span asp-validation-for="CashVoucher.VoucherType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashVoucher.OnDate" class="control-label"></label>
                <input asp-for="CashVoucher.OnDate" class="form-control" />
                <span asp-validation-for="CashVoucher.OnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashVoucher.PaidTo" class="control-label"></label>
                <input asp-for="CashVoucher.PaidTo" class="form-control" />
                <span asp-validation-for="CashVoucher.PaidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashVoucher.Amount" class="control-label"></label>
                <input asp-for="CashVoucher.Amount" class="form-control" />
                <span asp-validation-for="CashVoucher.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashVoucher.Remarks" class="control-label"></label>
                <input asp-for="CashVoucher.Remarks" class="form-control" />
                <span asp-validation-for="CashVoucher.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashVoucher.IssuedBy" class="control-label"></label>
                <input asp-for="CashVoucher.IssuedBy" class="form-control" />
                <span asp-validation-for="CashVoucher.IssuedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
